body {
    text-align: center;
    background-color: #8be3f3;
    font-family: "Arial", sans-serif; 
}

h1 {
    color:rgb(151, 232, 238);
}

button{
    padding: 10px;
    font-size: 18px;
    background-color: #a7f788;
    color:rgb(240, 135, 222);
    border:rgb(115, 231, 183);
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(124, 238, 228);
}
.result{
    margin-top:20px;
    font-size: 20px;
}