body {
    text-align: center;
    background-color: #82dbf7;
    font-family: "Arial", sans-serif; 
}

h1 {
    color:rgb(250, 161, 210);
}

button{
    padding: 10px;
    font-size: 18px;
    background-color: #71dbdf;
    color:rgb(233, 114, 187);
    border:rgb(97, 164, 209);
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(124, 238, 241);
}
.result{
    margin-top:20px;
    font-size: 20px;
}